:root{
    --primary : #82796F;
    --secondary :rgb(255, 155, 33);
    --accent : rgb(35, 104, 138);
    --blacky : rgb(42, 41, 41) ;
    --whity : rgb(236, 235, 229) ;
}
body{
    background-color: var(--whity);   
}
*{overflow-x: hidden;}


/* font  */
*{
    font-family: 'Oswald', sans-serif; 
}
h1, h2, h3{
    font-family: 'Neuton', serif;
}



/* text color  */
.text-primaryC{
    color: var(--primary);
}
.text-secondaryC{
    color: var(--secondary);
}
.text-accentC{
    color: var(--accent);
}
.text-whiteC{
    color: var(--whity);
}
.text-blackC{
    color: var(--blacky);
}



/* bg color  */
.background-primaryC{
    background-color: var(--primary);
}

.background-secondaryC{
    background-color: var(--secondary);
}

.background-accentC{
    background-color: var(--accent);
}

.background-whiteC{
    background-color: var(--whity);
}

.background-blackC{
    background-color: var(--blacky);
}


/* navbar  */
.logoA{
    width: 60px;
}
#mainNavbar{
    transition: 0.3s;
}

.btnCustom{
    background-color: var(--accent);
    color: var(--whity);
    transition: 0.3s;
}
.btnCustom:hover{
    background-color: var(--secondary);
    color: var(--whity);
}
#navIcon{
    transition: 0.3s;
}


/* header  */
.headerCustom{

    background: linear-gradient(312deg, rgba(36, 36, 36, 0.1), rgba(230, 227, 250, 0.3)), url('./media/headerimg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}


/* sezione  */
.increment-numbers{
    font-size: 60px;
    font-weight: 900;
}
.DOWN{
    display: none;
} 
.RIGHT{
    display: block;
} 


/* media query */
@media screen and (max-width: 767px) {
    .DOWN{
        display: block;
    }
    .RIGHT{
        display: none;
    } 
  }