:root{
    --primary : #c8c7c7;
    --secondary :rgb(238, 131, 0);
    --accent : rgb(35, 104, 138);
    --blacky : rgb(42, 41, 41) ;
    --whity : rgb(236, 235, 229) ;
}
body{
    background-color: var(--primary);   
}

/* font  */
*{
    font-family: 'Oswald', sans-serif; 
}
h1, h2, h3 {
    font-family: 'Neuton', serif;
}



/* text color  */
.text-primaryC{
    color: var(--primary);
}
.text-secondaryC{
    color: var(--secondary);
}
.text-accentC{
    color: var(--accent);
}
.text-whiteC{
    color: var(--whity);
}
.text-blackC{
    color: var(--blacky);
}



/* bg color  */
.background-primaryC{
    background-color: var(--primary);
}

.background-secondaryC{
    background-color: var(--secondary);
}

.background-accentC{
    background-color: var(--accent);
}

.background-whiteC{
    background-color: var(--whity);
}

.background-blackC{
    background-color: var(--blacky);
}


/* navbar  */
.logoA{
    width: 60px;
}
#mainNavbar{
    transition: 0.3s;
}

.btnCustom{
    background-color: var(--accent);
    color: var(--whity);
    transition: 0.3s;
}
.btnCustom:hover{
    background-color: var(--secondary);
    color: var(--whity);
}
#navIcon{
    transition: 0.3s;
}


/* header  */
.headerCustom{

    background: linear-gradient(312deg, rgba(36, 36, 36, 0.1), rgba(230, 227, 250, 0.7)), url('./media/laptop-2838921.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;

}
.box{
    border: 2px solid var(--secondary);
    border-radius: 10px;
    width: fit-content;
}

/* sezione  */
.increment-numbers{
    font-size: 60px;
    font-weight: 900;
}
.DOWN{
    display: none;
} 
.RIGHT{
    display: block;
} 

.fa-brands{
    color: var(--secondary);
}
/* media query */
@media screen and (max-width: 767px) {
    .DOWN{
        display: block;
    }
    .RIGHT{
        display: none;
    } 
    .circle{
        scale: 0.8;
    }
  }

/* swiper  */
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }

  /* footer link  */
  .footer-link{
    text-decoration: none;
    color: var(--whity);
}
.footer-link:hover{
    color: var(--secondary);
}


/* card  */
.col-custom{
    transition: 1s;
}
.col-custom:hover{
    transform: scale(1.5);
}
section{
    overflow-x: hidden;
}

/* card annunci  */
.announcement-card{
    background: var(--accent);
    min-height: 350px;
    border: 2px solid var(--primary);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.img-card-custom{

    height: 150px;
    width: 250px;
    border-radius: 10%;


}

/* Pagina chi siamo */

.circle{

    height: 380px;
    width: 380px;
    border-radius: 50%;
    border: 2px dashed var(--secondary);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

}

.opener{

    height: 80px;
    width: 80px;
    border-radius: 50%;
    /* border: 2px solid var(--blackCustom); */

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 1;
    background-color: var(--accent);
    cursor: pointer;
}

.moved{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    /* border: 2px solid var(--blackCustom); */

    position: absolute;

    transition: 1s;

    background-size: cover;
    cursor: pointer;
}

.minhe{
    min-height: 50vh;
}

/* teacher card */

.teacher-card{

    height: 380px;
    width:  300px;
    border-radius: 20px;
    border: 3px solid var(--secondary);
    
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


}
